.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.image-container {
  width: 1600px; /* Match image dimensions */
  height: 1066px; /* Match image dimensions */
}

.image-container img {
  width: 100%; /* Stretch image to container */
  height: 100%; /* Stretch image to container */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff; /* White text color */
  background-color: #212529; /* Dark background color */
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
}

.timer-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.timer-display {
  display: flex;
  gap: 20px; /* Spacing between timer segments */
}

.timer-display span {
  font-size: 3em;
  text-align: center;
}
